.header__body{
	grid-column: 2;
	display: grid;
	grid-auto-flow: column;
	grid-template-rows: 1fr;
}
.header__left {}
.left__body {
	display: grid;
	grid-template-columns: 54px 1fr;
	align-items: center;
	justify-content: end;
	margin: 11px 620px 0px 214px;
}
.left__img {
	grid-column: 1;
}
.left__text {
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #0b2b33;
	grid-column: 2;
	margin: 0px 0px 0px 11px;
	
}
.header__right {
	display: grid;
	grid-template-columns: 133px 1fr;
	align-items: center;
	column-gap: 16px;
	margin: 0px 215px 0px 0px;
}
.righ__number {
	grid-column: 1;
	border-right: 1px solid #0b2b33;
	font-size: 11px;
	font-weight: 400;
	color: #0b2b33;
}
.right__icon {
	grid-column: 2;
}
.social-list {
	display: grid;
	grid-template-columns: repeat(7,10px);
	column-gap: 19px;
}
.list__item {

}
.imgLink {

}